<h1>Services Show Index:</h1>



<table class="table">
  <caption>Optional table caption.</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Category</th>
        <th>user</th>
      </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
          <tr>
            <th scope="row"><%= service.id %></th>
            <td><%= service.name %></td>
            <td><%= service.category %></td>
            <td><%= service.provider.email %></td>
          </tr>
        <% end %>
  </tbody>
</table>
