<div class="container show-grey">
  <h1 class="text-center"><%= @user.first_name %>'s profile</h1>

  <%= cl_image_tag @user.profile_photo %>
  <%= @user.first_name %>
  <%= @user.last_name %>
</div>
