/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Lato:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Lato", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #0496FF;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$white: #ffffff;
$dark-text: rbga(0,0,0,0.5);


// Floats
.right {
  float: right;
}
.left {
  float: left;
}

// .wrapper {
//   margin: 70px;
//   // height: calc(100vh - 70px);
//   // height: calc(100% - 70px);
//   padding: 20px;
// }
