/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.category-bar {
  top: -70px;
  width: auto;
  // height: 70px;
  // background: #E8E8E8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 40px;
  position: relative;
  a {
    color: #fff;
  }
  a:hover {
    color: #0496FF;
  }
}

.filler {
  // background: #0582CA;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-heytask {
  // background: white;
  background: #E8E8E8;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  ul li {
    list-style-type: none;
  }

}

.temp-card {
  min-height: 300px;
  padding: 10px;
  margin: auto;
}

.about-heytask-photo {
  width: 90%;
  height: 90%;
  // background-size: contain;
}

.mini-banner {
  top: -60px;
  color: white;
  text-align: center;
  height: 150px;
  background-color: #21D19F;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;

  h2 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
}

html, body{
  margin: 0;
  max-width: 100%;
  height: 100%;
}

.container-flex{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 100vw;
  .section{
    top: -60px;
    flex-grow: 1;
    position: relative;
    display: flex;
    height: 100%;
    transition: all 0.4s;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 0px;
    &:hover{
      flex-grow: 2;
      transition: all 0.2s;
    }

    &:nth-child(1){
      background: asset-url("search.jpeg") center;
      background-size: cover;
    }
    &:nth-child(2){
      background: asset-url("choose.jpeg") center;
      background-size: cover;
    }
    &:nth-child(3){
      background: asset-url("book.jpeg") center;
      background-size: cover;
    }
     h3 {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  }
}



/*********************************************************/


.cbp-so-scroller {
  margin-top: 3em;
  overflow: hidden;
}

.cbp-so-section {
  margin-bottom: 15em;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
  content: " ";
  display: table;
}

.cbp-so-section:after {
  clear: both;
}

/* Text styling */
.cbp-so-section h2 {
  font-size: 5em;
  font-weight: 300;
  line-height: 1;
}

.cbp-so-section p {
  font-size: 2em;
  font-weight: 300;
}

/* Sides */
.cbp-so-side {
  width: 50%;
  float: left;
  margin: 0;
  padding: 3em 4%;
  overflow: hidden;
  min-height: 12em;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: -moz-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
  content: " ";
  display: table;
}

.cbp-so-side:after {
  clear: both;
}

.cbp-so-side-right {
  text-align: left;
}

.cbp-so-side-left {
  text-align: right;
}

.cbp-so-side-right img {
  float: left;
}

.cbp-so-side-left img {
  float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
  opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
*/

/* Example media queries */

@media screen and (max-width: 73.5em) {
  .cbp-so-scroller {
    font-size: 65%;
  }

  .cbp-so-section h2 {
    margin: 0;
  }

  .cbp-so-side img {
    max-width: 120%;
  }
}

@media screen and (max-width: 41.125em) {
  .cbp-so-side {
    float: none;
    width: 100%;
  }

  .cbp-so-side img {
    max-width: 100%;
  }
}

