/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.category-bar {
  width: 100vw;
  height: 70px;
  background: #E8E8E8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 40px;
  color: #B7B7B7;
}

.transparent-navbar {
  background: transparent !important;
}

.filler {
  // background: #0582CA;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-heytask {
  // background: white;
  background: #E8E8E8;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  ul li {
    list-style-type: none;
  }

}


.temp-card {
  min-height: 300px;
  padding: 10px;
  margin: auto;
}

.about-heytask-photo {
  width: 90%;
  height: 90%;
  // background-size: contain;
}
