.avatar-show-img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #21D19F;
  border-color: #45B69C;
}

.profile {
  padding-top: 30px;
}