.bs-link {
  color:#fff !important;
  text-decoration:none;
}

.bs-link:hover {
   color:#fff !important;
  text-decoration:none;
}

// fixed sidebar
// -----------------------------------

.main {
  display: flex;
  flex-direction: column;

}

.main-content {
  padding: 10px;
}

#map {
  height: 600px;
  // height: calc(100vh - 132px);
}

@media screen and (min-width: 900px) {
  .main {
    flex-direction: row;
  }

  .main-content {
    flex: 1;
    overflow-y: auto;
    height: calc(100vh - 132px);
  }

  #map {
    // width: calc(100vh - 170px);
    width: 500px;
    height: calc(100vh - 132px);
  }
}
