// Need a fixed height for navbar + banner to set correct map height


.bs-link {
  color:#fff !important;
  text-decoration:none;
}

.bs-link:hover {
   color:#fff !important;
  text-decoration:none;
}

// .container-fluid {
//   padding: 0px;
//   display: flex;

// }





// Flexbox items
// ----------------------------------------

// .flex-grid {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   width: inherit;
// }

// .flex-grid .col {
//   -webkit-box-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
// }

// .flex-grid-thirds {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: justify;
//       -ms-flex-pack: justify;
//           justify-content: space-between;
// }

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
  .flex-grid .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

@media (min-width: 900px) {
  .flex-grid {
    display: block;
  }
  .flex-grid .col {
    width: 48%;
    margin: 0 0 10px 0;
  }
}

.flex-grid {
  margin: 0 0 20px 0;
}

.col {
  background: salmon;
  padding: 10px;
  // margin: 10px;
  height: 200px;
}












// fixed sidebar
// -----------------------------------

.main {
  display: flex;
  flex-direction: column;
  // height: calc(100vh - 132px);

}

.main-content {
  padding: 10px;
  // height: calc(100vh - 132px);
}

#map {
  height: 600px;
  // height: calc(100vh - 132px);
}


// .#map .item {
//   color: #fff;
//   display: block;
// }

@media screen and (min-width: 900px) {
  .main {
    flex-direction: row;
  }

  .main-content {
    flex: 1;
    overflow-y: auto;
    height: calc(100vh - 132px);
  }

  #map {
    // width: calc(100vh - 170px);
    width: 500px;
    height: calc(100vh - 132px);
  }
}




// Flex grid
// ---------------------------------------------


// .group:after {
//   content: "";
//   display: table;
//   clear: both;
// }

// .box-grid-4 {
//   // margin: 0 -1% 0 -1%;
//   text-align: center;
//   @media all and (max-width: 1199px) {
//     margin: 0;
//   }
//   li {
//     height: 200px;
//     // width: 23%;
//     margin: 0 1% 2% 1%;
//     display: inline-block;
//     float: left;
//     @media all and (min-width: 900px) {
//       width: 100%;
//       margin: 0 0 2% 0;
//       // &:nth-of-type(3n + 2) {
//       //   margin: 0 2%;
//       // }
//     }
//     @media all and (max-width: 899px) {
//       width: 48%;
//       margin: 0 1% 2% 1%;
//     }
//     @media all and (max-width: 460px) {
//       width: 100%;
//       margin: 0 auto 15px auto;
//       float: none;
//     }
//   }
// }








// Codepen airbnb fixed map example
// ---------------------------------------------

// * {
//   box-sizing: border-box;
// }
// .items {
//   width: 60%;
//   font-size: 0;
// }
// .items__item {
//   display: inline-block;
//   vertical-align: bottom;
//   width: 40%;
//   margin: 2rem 5%;
//   text-align: center;
//   padding: 2rem 1rem 1rem;
//   cursor: pointer;
//   color: #222;
//   border-radius: 4px;
// }
// .items__item img {
//   width: 100%;
//   height: auto;
// }
// .items__item.is-selected {
//   background: #b00;
//   color: white;
// }
// .items__title {
//   font-size: 14px;
//   text-transform: uppercase;
//   font-family: sans-serif;
//   letter-spacing: .1em;
//   padding-top: 1rem;
// }
// #map {
//   float: right;
//   position: fixed;
//   bottom: 0;
//   right: left;
//   width: 100%;
//   height: 500px;
// }

// // media qeury push map down
// @media (min-width: 600px) {
//   #map {
//     float: right;
//     position: fixed;
//     top: 0;
//     right: 0;
//     width: 40%;
//     height: 100%;
//   }
// }


// .map__icon {
//   position: relative;
// }
// .map__icon span {
//   font-size: 10px;
//   white-space: nowrap;
//   background: #b00;
//   color: white;
//   display: block;
//   padding: .5em;
//   border-radius: 2px;
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);
// }
// .map__icon span:before {
//   content: "";
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 8px 5px 0 5px;
//   border-color: #b00 transparent transparent transparent;
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   margin-left: -5px;
// }
// .popup img {
//   width: 100%;
//   height: auto;
// }
// .popup h3 {
//   padding: 5px;
//   font-size: 12px;
// }
// .leaflet-popup-content-wrapper {
//   border-radius: 4px;
// }
// .leaflet-popup-content {
//   width: 240px;
//   padding: 20px 5px 0;
//   margin: 0;
// }
