.show-grey {
  min-height: 100vh;
  max-width: 800px;
  background-color: #EEEEEE;
  padding: 0 3em;
}

.show-title {
  margin: 30px 0px;
}

.show-margin {
  margin: 10px 40px;
}

.show-margin-vertical {
  margin: 10px 0px;
}

#map {
  display: flex;
  height: 100vh;
  width: 100%;
}

#content-1-2 {
  padding-bottom: 50px;
}
