<!-- style="background-image: url('https://lorempixel.com/400/200/<%#= @photo %>')" -->
<div class="maps-info-card">
  <h4><%= service.name %></h4>
  <h4><%= service.category %></h4>
  <h4><%= service.address %></h4>
</div>


