<div class="banner">
  <div class="banner-content">
    <h1>HeyStack</h1>
    <p>Need a personal trainer? How about somebody who can floss your cat and do the dishes at the same time?</p>
  </div>
</div>

<div class="category-bar">
test
<div class="category-links">

</div>
</div>

<div class="container">
<h1>Pages#home</h1>
  <% if user_signed_in? %>
    Hello, <%= current_user.first_name %>!
  <% end %>

</div>


