<div class="banner">
  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<h1>Pages#home</h1>

<% if user_signed_in? %>
  Hello, <%= current_user.first_name %>!
<% end %>

