<div class="banner">
  <div class="banner-content">
    <h1>HeyTask</h1>
    <p>Need a personal trainer? How about somebody who can floss your cat and do the dishes at the same time?</p>
  </div>
</div>

<div class="category-bar">
  <%#= link_to service%>
    <i class="fa fa-home" aria-hidden="true"></i>
    <i class="fa fa-calendar" aria-hidden="true"></i>
    <i class="fa fa-bath" aria-hidden="true"></i>
    <i class="fa fa-pie-chart" aria-hidden="true"></i>
</div>

<!-- <div class="container">
  <h1>Pages#home</h1>
  <% if user_signed_in? %>
    Hello, <%= current_user.first_name %>!
  <% end %>
</div> -->

<div class="about-heytask">


<!-- <div class="page-grid">
  <div class="column-lg-6">
      <h2 class="AboutThumbtack-headline H2-R">How Thumbtack works</h2>
  </div>
</div>
<div class="page-grid AboutThumbtack-wrapper">
  <div class="AboutThumbtack-image column-lg-3">

  <div class="AboutThumbtack-content column-lg-3">
                      <h3 class="AboutThumbtack-stepTitle H4-R">1. Tell us what you need</h3>
      <p class="AboutThumbtack-stepText B2-S">First, answer a few quick questions about what type of pro you’re looking for.</p>
                      <h3 class="AboutThumbtack-stepTitle H4-R">2. Review free quotes</h3>
      <p class="AboutThumbtack-stepText B2-S">Within hours, you’ll receive up to five custom quotes based on your specific needs.</p>
                      <h3 class="AboutThumbtack-stepTitle H4-R">3. Hire the right pro</h3>
      <p class="AboutThumbtack-stepText B2-S">Compare quotes, profiles, and reviews, then hire the pro that’s right for you.</p>
                  </div>
        </div>
    </div>
 -->






</div>


