.card {
  height: 175px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  // color: white;
  color: rgba(0,0,0,0.6);
  background-size: cover !important;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  position: relative;
  margin-bottom: 20px;
  a, a:hover {
    text-decoration: none;
  }
}

.card-info-data {
  position: absolute;
  bottom: 0;
  background: white;
  height: 60px;
  width: 100%;
  color: rgba(0,0,0,0.6);
  // z-index: 30;
  border-radius: 0 0 4px 4px;
  padding: 5px;
  display: inline-block;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}

.category {
  position: relative;
  bottom: -93px;
  p {
    left: 0;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    background-color: #0B98FF;
    margin-bottom: 0;
    display: inline;
    padding: 3px;
  }
}

.card-details {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.card-price {
  text-align: right;
  font-size: 24px;
  margin: auto;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
