.btn-medium {
  color: #0496FF;
  border: 1px solid #0496FF;
  padding: 3px 5px;
  border-radius: 4px;
  font-weight: lighter;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #0496FF;
}