#footer {
  background-color: #222;
  color: #aaaaaa;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer a {
  color: #cccccc;
}

#footer a:hover {
  color: white;
}

.social a {
  font-size: 24px;
}

.social a:hover {
  text-decoration: none;
}
