// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";
@import "bootstrap-datepicker";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";


a[href*="facebook"] {
  background-color: rgb(69, 104, 178);
  color: rgb(255, 255, 255);
  border-color: rgb(69, 104, 178);
  position: relative;
  text-decoration: none;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 27px;
  padding-right: 27px;

  display: block;
  white-space: normal;
  width: 100%;

  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1.43;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;

  &:hover {
    text-decoration: none;
  }
}

.well {
  border: none;
  background-color: $white;
  color: rgba(0,0,0,0.8);
}

.login-banner-content {
  width: 100%;
}
