<div class="service-banner" style="margin-bottom: 0">
  <div class="banner-content">
    <h1>List of Your Upcoming Gigs</h1>
  </div>
</div>

<div class="container show-grey">
  <ul class="list-unstyled text-center">
    <% @gigs.each do |gig| %>
      <li>
        <h3>
          <%= link_to gig_path(gig) do %>
            <%= gig.service.name %>: <%= gig.user.first_name %> <%= gig.user.last_name %>
          <% end %>
        </h3>
      </li>
    <% end %>
  </ul>
</div>

